# Analysing top N topics for top N users

In [1]:
import os
from os.path import join
import eland as ed
import pandas as pd
import numpy as np
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt

project_dir = join(os.getcwd(), os.pardir)
raw_dir = join(project_dir, 'data', 'raw')
interim_dir = join(project_dir, 'data', 'interim')

%config InlineBackend.figure_format = 'svg'

In [2]:
ed_df = ed.DataFrame('localhost', 'twitter', columns=['user_id', 'verified', 'name', 'location', 'retweet_count', 'followers_count'])

# defining the full-text query we need: Retrieving records for full_text_processed with the condition is_retweet=False and is_quote_status=False

query_unique = {
    "bool": {
        "must": {
            "term":{"is_retweet":"false"},
        },
        "filter": {
            "term":{"is_quote_status":"false"}
        },
    }
}
# using full-text search capabilities with Eland:
df_ed = ed_df.es_query(query_unique)
df_users = df_ed.to_pandas()

In [3]:
df_users = df_users.reset_index().rename(columns={'index':'tweet_id'})

In [4]:
df_users.head()

,tweet_id,user_id,verified,name,location,retweet_count,followers_count
0,1264160647002103808,1256622599364214786,False,The Meraaki,"Ahmadabad City, India",0,9
1,1264160609668599808,1251934220345208832,False,Newspapers,Dhaka,0,80
2,1264121161589415936,1251934220345208832,False,Newspapers,Dhaka,0,80
3,1264160569315209216,1113075640499036160,False,netvani,None,0,12
4,1264114187346874368,1113075640499036160,False,netvani,None,0,12

## Top N users with most original tweets

In [5]:
N = 50
top_users = df_users.groupby('name')\
    .size()\
    .to_frame()\
    .reset_index()\
    .rename(columns={0:'Count', 'name':'name'})\
    .set_index('name').nlargest(N, 'Count')

top_users

                                               Count
name
The Wealth Home - Let's start building wealth   2439
MEDIAonINDIA                                    1566
Bharti Airtel India                              713
ABP Ananda                                       491
Hindustan Times                                  340
Tata Sky                                         274
News18Bangla                                     201
Oneindia Bengali                                 200
S Newz                                           199
#India Important India News                      173
Â§ßÂ§©‰ΩøÁ≥ñÂêõ‚Ä¶„ÄÇ‚ù§Ô∏èüí¢                                       173
sujoy pal                                        171
InsiderSpirit                                    158
Sara Bangla                                      154
Newspapers                                       145
SkymetWeather                                    145
TIMES NOW                                        144
Hindi Samachar (‡§π‡§ø‡§®‡•ç‡§¶‡•Ä ‡§∏‡§Æ‡§æ‡§ö‡§æ‡§∞) News              137
News Country India                               129
ibabynow News                                    128
The Quint                                        126
Ei Samay                                         125
News18.com                                       121
Hindustan Times Bangla                           116
netvani                                          114
CNNNews18                                        113
Madhusudan Roy                                   113
AajTak                                           112
Zyite.news                                       110
IndiaToday                                       109
The Times Of India                               109
ORF                                              108
saanko.net                                       108
Republic                                         106
ALL About Gokak                                   99
AllAboutBelagavi                                  98
Deccan Herald                                     98
NewsBazaar                                        98
The Indian Express                                97
News Aryavart                                     96
Devdiscourse                                      94
Vinay K Yadav                                     91
Times of News                                     90
Oneindia News                                     83
#AMIRUL HAQUE KHAN                                80
Business Journal                                  80
Mahfuja Parven                                    80
TOI Kolkata                                       77
axis24x7                                          77
wken@Êó•Êú¨ÂÖµ(Ôø£‚àáÔø£)„Çû                                    77

## Top N most retweeted users

In [6]:
N = 50
df_users.groupby('name')['retweet_count'].agg({'sum'}).nlargest(N, 'sum')

                                         sum
name
Narendra Modi                          41072
Shah Rukh Khan                         15074
PMO India                              11439
Priyanka Gandhi Vadra                   6604
Amit Shah                               4719
Norbert Elekes                          4237
OpIndia.com                             3871
BJP Bengal                              3641
Honeypreet  Insan                       3639
Mamata Banerjee                         3590
AajTak                                  3194
üå∏‡§Ö‡§®‡§π‡§ø‡§§‡§æ üå∏üìåjaeyong au                    3156
President of India                      3040
Kailash Vijayvargiya                    2950
Zee News                                2872
Amit Malviya                            2819
Yogi Adityanath                         2792
ANI                                     2626
Piyush Goyal                            2552
Anshul Saxena                           2444
Swapan Dasgupta                         2372
India Met. Dept.                        2090
Rajdeep Sardesai                        2063
Press Trust of India                    2038
AJ+                                     2020
NDTV                                    2012
The Times Of India                      1832
BJP                                     1795
Eric Holthaus                           1617
CPI(M) WEST BENGAL                      1548
Parveen Kaswan, IFS                     1522
Mahesh Vikram Hegde                     1507
KolkataKnightRiders                     1448
Mayawati                                1430
Hindustan Times                         1384
‡§™‡§ø‡§Ç‡§ï‡•Ç ‡§∂‡•Å‡§ï‡•ç‡§≤‡§æ                            1378
Manogya Loiwal                          1323
Deep Halder                             1199
Gauri Khan                              1193
Shiv Aroor                              1167
A‚Å∑ ùìôùì∏ùì∏ùì∑ùì≤ùìÆ'ùìº ùìµùì∏ùìøùìÆùìª                       1154
CNN International                       1085
PDG                                     1064
Dhaval Jain üáÆüá≥                          1062
Republic                                1058
Governor West Bengal Jagdeep Dhankhar   1048
ABP Ananda                              1022
Shashi Tharoor                          1018
TIMES NOW                                986
PIB India                                968

## Aggregating the columns to create a popularity measure

In [7]:
df_users = df_users.groupby('user_id').agg({
            'name': lambda x: x.iloc[0],
            'followers_count': 'max',
            'retweet_count': 'sum',
            'verified': lambda x: x.iloc[0],
        })

### Normalising the columns using Z-Score

In [8]:
cols = list(df_users.columns)
cols.remove('name')

for col in cols:
    col_zscore = col + '_zscore'
    df_users[col_zscore] = (df_users[col] - df_users[col].mean())/df_users[col].std(ddof=0)

## Popularity Measure = Sum of Z-Scores (to be refined)

In [9]:
df_users['popularity'] = df_users['followers_count_zscore']+df_users['retweet_count_zscore']+df_users['verified_zscore']

In [10]:
N = 50
df_users.nlargest(N, 'popularity')

,name,followers_count,retweet_count,verified,followers_count_zscore,retweet_count_zscore,verified_zscore,popularity
user_id,,,,,,,,
18839785,Narendra Modi,60652395,41072,True,78.552852,179.297914,4.338553,262.189319
101311381,Shah Rukh Khan,40859499,15074,True,52.900567,65.782254,4.338553,123.021373
471741741,PMO India,37731486,11439,True,48.846552,49.910670,4.338553,103.095775
428333,CNN Breaking News,58390960,119,True,75.621953,0.483896,4.338553,80.444402
759251,CNN,49342437,532,True,63.894751,2.287187,4.338553,70.520491
807095,The New York Times,47070738,584,True,60.950550,2.514236,4.338553,67.803339
5402612,BBC Breaking News,44799065,521,True,58.006382,2.239158,4.338553,64.584093
1447949844,Amit Shah,21985085,4719,True,28.438666,20.568981,4.338553,53.346200
742143,BBC News (World),28654283,700,True,37.082180,3.020730,4.338553,44.441462
5988062,The Economist,24921516,21,True,32.244383,0.055997,4.338553,36.638932
1094645942735855618,Priyanka Gandhi Vadra,2615918,6604,True,3.335548,28.799500,4.338553,36.473600
1652541,Reuters,22189390,505,True,28.703452,2.169297,4.338553,35.211302
42606652,AajTak,10768575,3194,True,13.901676,13.910339,4.338553,32.150568
885487044243238912,President of India,10562465,3040,True,13.634551,13.237925,4.338553,31.211029
207809313,BJP,14381808,1795,True,18.584553,7.801853,4.338553,30.724959
37034483,NDTV,13452690,2012,True,17.380383,8.749345,4.338553,30.468281
3437532637,Yogi Adityanath,10810247,2792,True,13.955685,12.155077,4.338553,30.449315
33884545,CNN en Espa√±ol,18927132,203,True,24.475452,0.850667,4.338553,29.664672
134758540,The Times Of India,12999477,1832,True,16.793004,7.963407,4.338553,29.094963
121044171,Suresh RainaüáÆüá≥,17046348,460,True,22.037890,1.972812,4.338553,28.349255
14293310,TIME,17338932,238,True,22.417089,1.003489,4.338553,27.759130
1324334436,Piyush Goyal,9007033,2552,True,11.618656,11.107160,4.338553,27.064369
28785486,ABC News,15809570,442,True,20.434982,1.894218,4.338553,26.667754
2526794479,Mamata Banerjee,4589003,3590,True,5.892735,15.639403,4.338553,25.870690
91478624,Forbes,16130738,108,True,20.851227,0.435867,4.338553,25.625647
2467791,The Washington Post,16168732,50,True,20.900469,0.182620,4.338553,25.421641
69183155,detikcom,16076196,4,True,20.780539,-0.018231,4.338553,25.100861
56304605,Rajdeep Sardesai,8972552,2063,True,11.573968,8.972028,4.338553,24.884548
2097571,CNN International,11063348,1085,True,14.283713,4.701764,4.338553,23.324029
51241574,The Associated Press,14365438,45,True,18.563337,0.160788,4.338553,23.062678
1115874631,CGTN,13882045,31,True,17.936843,0.099660,4.338553,22.375055
461841349,Zee News,3933616,2872,True,5.043331,12.504383,4.338553,21.886266
74980737,OpIndia.com,421566,3871,True,0.491591,16.866339,4.338553,21.696483
355989081,ANI,4574568,2626,True,5.874027,11.430267,4.338553,21.642847
14159148,United Nations,12770473,155,True,16.496206,0.641084,4.338553,21.475843
99448420,Gautam Gambhir,10952024,644,True,14.139433,2.776216,4.338553,21.254201
240649814,TIMES NOW,9691653,986,True,12.505948,4.269498,4.338553,21.113999
39240673,ABP News,10227522,816,True,13.200453,3.527223,4.338553,21.066229
487118986,China Xinhua News,12677754,49,True,16.376039,0.178254,4.338553,20.892846
2853136279,Honeypreet Insan,351928,3639,True,0.401338,15.853352,4.338553,20.593243
2984417534,BJP Bengal,184462,3641,True,0.184296,15.862085,4.338553,20.384934
36327407,Hindustan Times,7671168,1371,True,9.887329,5.950532,4.338553,20.176414
66591836,CNN ÿ®ÿßŸÑÿπÿ±ÿ®Ÿäÿ©,11801244,79,True,15.240052,0.309243,4.338553,19.887848
8802752,G1,11551120,47,True,14.915882,0.169521,4.338553,19.423956
14511951,HuffPost,11449754,15,True,14.784508,0.029799,4.338553,19.152860
612473,BBC News (UK),11172442,66,True,14.425102,0.252481,4.338553,19.016136
439154852,Kailash Vijayvargiya,1175415,2950,True,1.468606,12.844956,4.338553,18.652114
24705126,Shashi Tharoor,7642557,1018,True,9.850248,4.409220,4.338553,18.598021
292558545,Norbert Elekes,299620,4233,False,0.333545,18.446948,-0.230492,18.550001
95588504,Amit Malviya,532081,2819,True,0.634822,12.272968,4.338553,17.246343

In [11]:
top_users = df_users.nlargest(N, 'popularity')

## Extracting Top N topics for Top N users

In [12]:
df_topics_lda = pd.read_csv(join(interim_dir, 'tweet_topics_data_lda.csv'), index_col=0) ## For LDA topics
df_topics_nmf = pd.read_csv(join(interim_dir, 'tweet_topics_data_nmf.csv'), index_col=0) ## For NMF topics

In [13]:
df_topics_lda = df_topics_lda[['user_id', 'name', 'verified', 'Topic']]
df_topics_nmf = df_topics_nmf[['user_id', 'name', 'verified', 'Topic']]

In [14]:
N = 5  ## Up to top 5 topics for every user
topics_users_lda = []
topics_users_nmf = []

for index, row in top_users.iterrows():
    topics_lda = df_topics_lda[df_topics_lda['user_id']==int(index)]
    topics_list_lda = topics_lda['Topic'].value_counts().nlargest(N).index.tolist()
    topics_users_lda.append(topics_list_lda)

    topics_nmf = df_topics_nmf[df_topics_nmf['user_id']==int(index)]
    topics_list_nmf = topics_nmf['Topic'].value_counts().nlargest(N).index.tolist()
    topics_users_nmf.append(topics_list_nmf)

In [15]:
top_users['topics_lda'] = topics_users_lda
top_users['topics_nmf'] = topics_users_nmf

In [16]:
top_users

,name,followers_count,retweet_count,verified,followers_count_zscore,retweet_count_zscore,verified_zscore,popularity,topics_lda,topics_nmf
user_id,,,,,,,,,,
18839785,Narendra Modi,60652395,41072,True,78.552852,179.297914,4.338553,262.189319,"[4, 7, 5, 1]","[7, 2]"
101311381,Shah Rukh Khan,40859499,15074,True,52.900567,65.782254,4.338553,123.021373,[2],"[7, 2]"
471741741,PMO India,37731486,11439,True,48.846552,49.910670,4.338553,103.095775,[8],[7]
428333,CNN Breaking News,58390960,119,True,75.621953,0.483896,4.338553,80.444402,[4],[10]
759251,CNN,49342437,532,True,63.894751,2.287187,4.338553,70.520491,"[4, 10, 7]","[10, 7, 2, 8]"
807095,The New York Times,47070738,584,True,60.950550,2.514236,4.338553,67.803339,"[5, 10, 7]","[2, 10]"
5402612,BBC Breaking News,44799065,521,True,58.006382,2.239158,4.338553,64.584093,[5],[9]
1447949844,Amit Shah,21985085,4719,True,28.438666,20.568981,4.338553,53.346200,"[9, 8]","[7, 5]"
742143,BBC News (World),28654283,700,True,37.082180,3.020730,4.338553,44.441462,"[5, 1, 4]","[2, 9, 8]"
5988062,The Economist,24921516,21,True,32.244383,0.055997,4.338553,36.638932,[3],[8]
1094645942735855618,Priyanka Gandhi Vadra,2615918,6604,True,3.335548,28.799500,4.338553,36.473600,[3],[7]
1652541,Reuters,22189390,505,True,28.703452,2.169297,4.338553,35.211302,"[5, 3]",[2]
42606652,AajTak,10768575,3194,True,13.901676,13.910339,4.338553,32.150568,"[10, 8, 1, 4, 9]","[7, 3, 2, 1, 9]"
885487044243238912,President of India,10562465,3040,True,13.634551,13.237925,4.338553,31.211029,"[4, 8, 2, 9]","[7, 3, 2]"
207809313,BJP,14381808,1795,True,18.584553,7.801853,4.338553,30.724959,"[4, 2, 8]","[7, 5]"
37034483,NDTV,13452690,2012,True,17.380383,8.749345,4.338553,30.468281,"[10, 5, 9, 7, 4]","[2, 7, 3, 10, 8]"
3437532637,Yogi Adityanath,10810247,2792,True,13.955685,12.155077,4.338553,30.449315,[9],[7]
33884545,CNN en Espa√±ol,18927132,203,True,24.475452,0.850667,4.338553,29.664672,"[5, 10, 9, 1]","[2, 8, 7]"
134758540,The Times Of India,12999477,1832,True,16.793004,7.963407,4.338553,29.094963,"[4, 10, 8, 9, 3]","[7, 2, 8, 10, 3]"
121044171,Suresh RainaüáÆüá≥,17046348,460,True,22.037890,1.972812,4.338553,28.349255,[2],[2]
14293310,TIME,17338932,238,True,22.417089,1.003489,4.338553,27.759130,[5],"[2, 8]"
1324334436,Piyush Goyal,9007033,2552,True,11.618656,11.107160,4.338553,27.064369,[8],[7]
28785486,ABC News,15809570,442,True,20.434982,1.894218,4.338553,26.667754,"[5, 3, 2]","[2, 10, 8]"
2526794479,Mamata Banerjee,4589003,3590,True,5.892735,15.639403,4.338553,25.870690,"[3, 2]","[7, 2]"
91478624,Forbes,16130738,108,True,20.851227,0.435867,4.338553,25.625647,"[4, 5]",[2]
2467791,The Washington Post,16168732,50,True,20.900469,0.182620,4.338553,25.421641,[5],[10]
69183155,detikcom,16076196,4,True,20.780539,-0.018231,4.338553,25.100861,"[7, 5]","[2, 8]"
56304605,Rajdeep Sardesai,8972552,2063,True,11.573968,8.972028,4.338553,24.884548,"[7, 1, 2, 3, 9]","[2, 7]"
2097571,CNN International,11063348,1085,True,14.283713,4.701764,4.338553,23.324029,"[10, 5, 7, 4, 3]","[7, 2, 10, 8]"
51241574,The Associated Press,14365438,45,True,18.563337,0.160788,4.338553,23.062678,[5],[2]
1115874631,CGTN,13882045,31,True,17.936843,0.099660,4.338553,22.375055,"[5, 4]","[2, 8]"
461841349,Zee News,3933616,2872,True,5.043331,12.504383,4.338553,21.886266,"[8, 2, 9, 4, 10]","[7, 2, 5, 4, 3]"
74980737,OpIndia.com,421566,3871,True,0.491591,16.866339,4.338553,21.696483,"[4, 8, 6, 1, 9]","[7, 2, 9, 3]"
355989081,ANI,4574568,2626,True,5.874027,11.430267,4.338553,21.642847,"[10, 4, 8, 2, 9]","[7, 2, 10, 5, 4]"
14159148,United Nations,12770473,155,True,16.496206,0.641084,4.338553,21.475843,[2],[8]
99448420,Gautam Gambhir,10952024,644,True,14.139433,2.776216,4.338553,21.254201,[9],[2]
240649814,TIMES NOW,9691653,986,True,12.505948,4.269498,4.338553,21.113999,"[2, 10, 4, 8, 1]","[7, 2, 10, 6, 9]"
39240673,ABP News,10227522,816,True,13.200453,3.527223,4.338553,21.066229,"[10, 8, 4, 2, 7]","[7, 2, 10, 9, 8]"
487118986,China Xinhua News,12677754,49,True,16.376039,0.178254,4.338553,20.892846,"[10, 7]","[7, 4, 8]"
2853136279,Honeypreet Insan,351928,3639,True,0.401338,15.853352,4.338553,20.593243,[2],[7]
2984417534,BJP Bengal,184462,3641,True,0.184296,15.862085,4.338553,20.384934,"[1, 6, 2, 8, 3]","[7, 2, 9, 5]"
36327407,Hindustan Times,7671168,1371,True,9.887329,5.950532,4.338553,20.176414,"[10, 4, 8, 5, 1]","[7, 2, 10, 9, 5]"
66591836,CNN ÿ®ÿßŸÑÿπÿ±ÿ®Ÿäÿ©,11801244,79,True,15.240052,0.309243,4.338553,19.887848,[5],[8]
8802752,G1,11551120,47,True,14.915882,0.169521,4.338553,19.423956,[5],[2]
14511951,HuffPost,11449754,15,True,14.784508,0.029799,4.338553,19.152860,[5],[2]
612473,BBC News (UK),11172442,66,True,14.425102,0.252481,4.338553,19.016136,"[5, 1]","[9, 8]"
439154852,Kailash Vijayvargiya,1175415,2950,True,1.468606,12.844956,4.338553,18.652114,"[2, 7, 3, 8, 6]",[7]
24705126,Shashi Tharoor,7642557,1018,True,9.850248,4.409220,4.338553,18.598021,[9],[2]
292558545,Norbert Elekes,299620,4233,False,0.333545,18.446948,-0.230492,18.550001,"[8, 4, 9, 5]","[2, 7, 3]"
95588504,Amit Malviya,532081,2819,True,0.634822,12.272968,4.338553,17.246343,"[7, 6, 4, 3, 2]","[7, 9]"